*{
	margin:0px;
	padding:0px;

}
body
{
	border:solid 1px white;
	background-color:gray;
}
.menu
{
	width:700px;
	margin-left:400px;
	margin-right:400px;
	background-color:	#AFEEEE;
}

.menu ul.root
{
	list-style-type: none;
}
.menu ul.root .menuli1
{
	display:inline-block; 
	font-size:15px; 
	cursor:pointer;
	padding-top:20px;
	padding-right:20px;
	margin-left:50px;
}
.menuli1 a
{
	text-decoration: none;
	color:black;
}
.menuli2
{
	display:inline-block; 
	cursor:pointer;
	font-size:15px; 
	padding-left:20px; 
	padding-right:20px;
}
.menuli2 a
{
	text-decoration: none;
	color:black;
}
.menuli2 p
{
	font-size:13px;
	background-color:#FFCC33;
	border-radius:5px;
	width:40px;
	height:15px;
	position: absolute;
	top:2px;
	left:650px;
	text-align: center;
	padding-top:3px;
	color:white;
}

.menu .menucon
{
	position: absolute;
	display: none;
}
ul.menucon
{
	width:150px;
	min-height:200px;
}
ul.menucon li
{
	list-style:none;
	display:block;
	padding-top:10px;
	border-top:1px solid #ccc;
	background:	#FF9966;
}
ul.menucon li:hover 
{
	background:#BBBBBB;
	transition:ease-in 0.4;
	-moz-transition:ease-in 0.4;
	-webkit-transition:ease-in 0.4;

}
ul.root > li:hover ul.menucon
{
	display:block;
}
.menuli3
{
	display:inline-block; 
	cursor:pointer;
	font-size:15px; 
	padding-left:20px; 
	padding-right:20px;
}
.menuli3 a
{
	text-decoration: none;
	color:black;
}
 .menucon2
{
	position: absolute;
	display: none;
	top:85px;
	left:150px;

}
ul.menucon2
{
	width:150px;
	min-height:200px;
}
ul.menucon2 li
{
	list-style:none;
	display:block;
	padding-top:10px;
	border-top:1px solid #ccc;
	background:	#97FFFF;
}
ul.menucon2 li:hover 
{
	background:#BBBBBB;
	transition:ease-in 0.4;
	-moz-transition:ease-in 0.4;
	-webkit-transition:ease-in 0.4;

}
ul.root > li:hover ul.menucon2
{
	display:block;
}