*
{
	margin:auto;
}
.menu
{
	height:400px;
}
.menu ul {
  background: #8AD385;
  width: 600px;
  height:400px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.menu ul.root
{
	list-style-type: none
}
.menu ul.root .menuli1
{
	font-size:15px; 
	cursor:pointer;
	padding-top:20px;
	padding-right:20px;
	margin-left:50px;
}
.menuli1 a
{
	text-decoration: none;
	color:black;

}
.menu .menucon
{
	position: absolute;
	display: none;
	left:470px;
}
ul.menucon
{
	width:150px;
	min-height:200px;
	height:200px;
}
ul.menucon li
{
	list-style:none;
	display:block;
	padding-top:10px;
	border-top:1px solid #ccc;
	background:	#FF9966;
}
ul.menucon li:hover 
{
	background:#BBBBBB;
	transition:ease-in 0.4;
	-moz-transition:ease-in 0.4;
	-webkit-transition:ease-in 0.4;

}
ul.root > li:hover ul.menucon
{
	display:block;
}
 .menucon2
{
	position: absolute;
	display: none;
	top:85px;
	left:150px;

}
ul.menucon2
{
	width:150px;
	height:100px;
	min-height:200px;
}
ul.menucon2 li
{
	list-style:none;
	display:block;
	padding-top:10px;
	border-top:1px solid #ccc;
	background:	#97FFFF;
}
ul.menucon2 li:hover 
{
	background:#BBBBBB;
	transition:ease-in 0.4;
	-moz-transition:ease-in 0.4;
	-webkit-transition:ease-in 0.4;

}
ul.root > li:hover ul.menucon2
{
	display:block;
}
.menucon3
{
	position: absolute;
	display: none;
	top:0px;
	left:150px;

}
ul.menucon3
{
	width:150px;
	height:150px;
	min-height:200px;
}
ul.menucon3 li
{
	list-style:none;
	display:block;
	padding-top:10px;
	border-top:1px solid #ccc;
	background:#AB82FF;
}
ul.menucon3 li:hover 
{
	background:#BBBBBB;
	transition:ease-in 0.4;
	-moz-transition:ease-in 0.4;
	-webkit-transition:ease-in 0.4;

}
ul.root > li:hover ul.menucon3
{
	display:block;
}
.menumau
{
	position: absolute;
	display: none;
	top:30px;
	left:150px;

}
ul.menumau
{
	width:150px;
	height:200px;
	min-height:200px;
}
ul.menumau li
{
	list-style:none;
	display:block;
	padding-top:10px;
	border-top:1px solid #ccc;
	background:	#97FFFF;
}
ul.menumau li:hover 
{
	background:#BBBBBB;
	transition:ease-in 0.4;
	-moz-transition:ease-in 0.4;
	-webkit-transition:ease-in 0.4;

}
ul.root > li:hover ul.menumau
{
	display:block;
}